<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Employee</title>

    <!-- BootStrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
          crossorigin="anonymous">

</head>

<body>

    <div class="container">

        <br>
        <h1>Employee Registration</h1>
        <hr>

        <form th:action="@{/employees/new-employee}" th:object="${employee}" method="POST">
            <div class="mb-4 w-25">
            <input type="text" th:field="*{firstName}" class="form-control" placeholder="First Name" required>
            <span th:if="${#fields.hasErrors('firstName')}"
                  th:errors="*{firstName}"
                  class="error"></span>
            </div>
            <div class="mb-4 w-25">
            <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name" required>
            <span th:if="${#fields.hasErrors('lastName')}"
                  th:errors="*{lastName}"
                  class="error"></span>
            </div>
            <div class="mb-4 w-25">
            <input type="email" th:field="*{email}" class="form-control" placeholder="Email" required>
            <span th:if="${#fields.hasErrors('email')}"
                  th:errors="*{email}"
                  class="error"></span>
            </div>
            <div class="mb-4 w-25">
                <select th:field="*{country}" id="country" class="form-select">
                    <option value="">Select Country</option>

                    <option th:each="tempCountry : ${countries}"
                            th:value="${tempCountry}"
                            th:text="${tempCountry}">
                    </option>
                </select>

                <div th:if="${#fields.hasErrors('country')}"
                     th:errors="*{country}"
                     class="text-danger">
                </div>
            </div>
            <div class="mb-4">
                <div th:each="tempGender : ${gender}"
                     class="form-check">

                    <input type="radio"
                           th:field="*{gender}"
                           th:value="${tempGender}"
                           class="form-check-input">

                    <label class="form-check-label"
                           th:text="${tempGender}">
                    </label>

                </div>

                <div th:if="${#fields.hasErrors('gender')}"
                     th:errors="*{gender}"
                     class="text-danger">
                </div>
            </div>
            <div class="mb-4">
                <div th:each="tempHobby : ${hobbies}"
                     class="form-check">

                    <input type="checkbox"
                           th:field="*{hobby}"
                           th:value="${tempHobby}"
                           class="form-check-input">

                    <label class="form-check-label"
                           th:text="${tempHobby}">
                    </label>

                </div>

                <div th:if="${#fields.hasErrors('hobby')}"
                     th:errors="*{hobby}"
                     class="text-danger">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <hr>

        <a th:href="@{/employees/list}">Back to Directory</a>

    </div>

</body>

</html>