<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Confirmed</title>
</head>
<body>

    <p>Employee saved!</p>
    <br>
    <p>Employee first name : <span th:text="${employee.firstName}"></span></p>
    <br>
    <p>Employee last name : <span th:text="${employee.lastName}"></span></p>
    <br>
    <p>Employee email : <span th:text="${employee.email}"></span></p>
    <br>
    <p>Employee country : <span th:text="${employee.country}"></span></p>
    <br>
    <p>Employee gender : <span th:text="${employee.gender}"></span></p>
    <br>
    <p>Employee hobbies : </p>
    <br>
    <ul>
        <li th:each="hobby : ${employee.hobby}"
            th:text="${hobby}">
        </li>
    </ul>

    <br><a th:href="@{/employee-form/showForm}" class="btn btn-secondary" role="button">Back To Form</a>

</body>
</html>